.button {
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}
.button:hover {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}

.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
