.button {
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}
.button:hover {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}

.icon {
  width: rem(22px);
  height: rem(22px);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 200ms ease;
  transform-origin: center;
  /* transform: translate(-50%, -50%); */
}

.rotate {
  @mixin dark {
    animation: rotate 200ms ease 0s 1 forwards;
  }

  @mixin light {
    animation: rotateReverted 200ms ease 0s 1 forwards;
  }
}

.rotateReverted {
  @mixin light {
    animation: rotate 200ms ease 0s 1 forwards;
  }

  @mixin dark {
    animation: rotateReverted 200ms ease 0s 1 forwards;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotateReverted {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
}
