.button {
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-top: none;
  border-bottom: none;
  border-left: none;
  margin-right: 10px;
  border-radius: 50%;
  border: none;
}

.button:hover {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}
