main {
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-9)) !important;
}

html body {
  background: var(--mantine-color-dark-9) !important;
}

html[data-mantine-color-scheme='light'] body {
  background: var(--mantine-color-gray-0) !important;
}

body {
  overflow-x: hidden;
}

body.preload * {
  animation-duration: 0s !important;
}
